body {
  font-family: monospace;
  background-color: #0f0f0f;
  color: #f0f0f0;
  padding: 40px;
}

a {
  color: #ff5e5e;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  max-width: 800px;
  margin: auto;
}
